<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/defaultHead") %>
    <%- include("../partials/dashboard/head") %>
  </head>

  <body>
    <%- include("../partials/dashboard/nav") %>
    
    <%- include("../partials/new/charForm") %>

    <footer class="text-muted">
      <%- include("../partials/dashboard/footer") %>
    </footer>

    <%- include("../partials/defaultScripts") %>
  </body>
</html>