<div id="navbarHeader" class="hidden-xs-down collapse fixed-top bg-inverse">
  <div class="container">
    <div class="row">
      <div class="col-2 py-4 text-right">
        <h4 class="text-white">Public Links</h4>
        <ul class="list-unstyled">
          <li><a href="/discord" class="text-white" target="_blank">ESOI Server</a></li>
          <li><a href="https://bot.grogsile.org" class="text-white" target="_blank">Server Management</a></li>
          <li><a href="/partners" class="text-white" target="_blank">Partners</a></li>
        </ul>
      </div>
      <div class="col-8 py-4 text-center">
        <h4 class="text-white">Welcome Home, <%- user.username %></h4>
        <p id="userId" class="text-muted"><%- user.id %></p>
      </div>
      <div class="col-2 py-4">
        <h4 class="text-white">User Links</h4>
        <ul class="list-unstyled">
          <li><a href="/u/<%- user.id %>" class="text-white">Publick Profile</a></li>
          <li><a href="/account" class="text-white">Account</a></li>
          <li><a href="/logout" class="text-white">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="mobile-navbarHeader" class="hidden-sm-up collapse fixed-top bg-inverse mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 py-4 text-center">
        <h4 class="text-white">Welcome Home, <% if (typeof user !== "undefined") { %><%- user.username %><% } %></h4>
        <p class="text-muted"><%- user.id %></p>
      </div>
      <div class="col-6 py-4 text-right">
        <h4 class="text-white">Public Links</h4>
        <ul class="list-unstyled">
          <li><a href="/discord" class="text-white">ESOI Server</a></li>
          <li><a href="https://bot.grogsile.org" class="text-white">Server Management</a></li>
          <li><a href="/partners" class="text-white">Partners</a></li>
        </ul>
      </div>
      <div class="col-6 py-4 text-left">
        <h4 class="text-white">User Links</h4>
        <ul class="list-unstyled">
          <li><a href="/u/<%- user.id %>" class="text-white">Publick Profile</a></li>
          <li><a href="/account" class="text-white">Account</a></li>
          <li><a href="/logout" class="text-white">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="hiddenSpacer" class="navbar">
  <div class="container">
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div id="navbar" class="navbar fixed-top navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="/dashboard" class="navbar-brand"><% if (typeof user !== "undefined") { %><%- user.username %><% } %></a>
    <button class="hidden-xs-down navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="hidden-sm-up navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>