<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">@<%- account.accountName %></h1>
    <p class="lead"><%- targetUser.username %>#<%- targetUser.discriminator %></p>
  </div>
</section>

<div class="album text-muted">

  <div class="container">

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="text-align: center;">
        <% if (Object.keys(characters).length > 0) { %><h2>Characters</h2><% } else { %><h4><%- account.accountName %> does not have any characters yet.</h4><% } %>
      </div>
      <div class="col-md-3"></div>
    </div>

    <% if (Object.keys(characters).length) { %><div class="row">

      <% for (let character in characters) { %><div class="card">
        <% let char = characters[character]; %>
        <img src="https://i.grogsile.me/esoi/users/<%- targetUser.id %>/<%- character %>.png" alt="<%- char.name %>">
        <h5 class="text-center"><%- char.name %></h5>
        <p class="card-text">
          <% if (char.champion) { %><span class="champion"></span><%- user.level %><% } else { %>Level <%- char.level %><% } %><br>
        </p>
      </div><% } %>

    </div><% } %>

  </div>
</div>