<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/defaultHead") %>
    <%- include("../partials/settings/head") %>
  </head>

  <body>
    <%- include("../partials/defaultNavbar") %>

    <%- include("../partials/settings/content") %>

    <%- include("../partials/defaultFooter") %>

    <%- include("../partials/defaultScripts") %>
  </body>
</html>