<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/defaultHead") %>
  </head>

  <body>
    <%- include("../partials/defaultNavbar") %>

    <%- include("../partials/profile/content") %>

    <%- include("../partials/defaultFooter") %>

    <%- include("../partials/defaultScripts") %>
    <%- include("../partials/profile/scripts") %>
  </body>
</html>