<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include("../partials/defaultHead") %>
    <link rel="stylesheet" type="text/css" href="https://i.grogsile.org/css/bootstrap-multiselect.css" />

  </head>

  <body>

    <%- include("../partials/defaultNavbar") %>
    <%- include("../partials/guild/content") %>
    <%- include("../partials/defaultFooter") %>
    <%- include("../partials/guild/scripts") %>

  </body>
</html>
