<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include("../partials/defaultHead") %>
    <%- include("../partials/guild/head") %>

  </head>

  <body>

    <%- include("../partials/defaultNavbar") %>
    <%- include("../partials/guild/content") %>
    <%- include("../partials/defaultFooter") %>

  </body>
</html>
