<% let setting = currentGuild.config.eso.patchNotes; %>
<div class="container">

  <form id="form-esoPatchNotes" role="form" method="POST" action="https://bot.grogsile.org/guilds/<%- currentGuild.id %>/esoPatcHNotes" enctype="application/json">

    <h2 class="text-left" style="position: absolute;">ESO Patch Notes</h2>
    <div class="abc-checkbox abc-checkbox-success text-right py-2">
      <input type="checkbox" id="esoPatchNotes-enabled" name="enabled" <% if (setting.enabled) { %> checked <% } %>>
      <label for="esoPatchNotes-enabled" class="text-center"><b>Enabled</b></label>
    </div>

    <p class="text-justify">The ESO Patch Notes module allows your server to receive Patch Notes from <a href="https://www.elderscrollsonline.com/en-us/news/category/patch-notes">the ESO website</a>. This currently only works for PC.</p>

    <div id="esoPatchNotes-content" class="row text-center justify-content-center <% if (!setting.enabled) { %>d-none<% } %>">

      <div class="form-group col-lg-4 justify-content-center">

        <div class="abc-checkbox">
          <input type="checkbox" id="esoPatchNotes-roles-enabled" name="roles-enabled" <% if (setting.roles.length) { %> checked <% } %>>
          <label for="esoPatchNotes-roles-enabled"><b>Mention Roles on Update</b></label>
        </div>
        <div id="esoPatchNotes-toggleRoles-checkbox" class="abc-checkbox <% if (!setting.roles.length) { %> d-none <% } %>">
          <input type="checkbox" id="esoPatchNotes-toggleRoles" name="toggleRoles" <% if (setting.toggleRoles) { %> checked <% } %>>
          <label for="esoPatchNotes-toggleRoles" data-toggle="tooltip" data-placement="top" title="This option will make the selected roles mentionable and then un-mentionable so that people with the role will be mentioned."><b>Toggle Roles Mentionable</b></label>
        </div>

      </div>
      <div id="esoPatchNotes-roles-section" class="form-group col-lg-7 justify-content-center <% if (!setting.roles.length) { %> d-none <% } %>">

        <label for="esoPatchNotes-roles"><b>Roles to mention on update</b></label>
        <p>
          <select multiple class="form-control" id="esoPatchNotes-roles" name="roles[]">

            <% let roles = currentGuild.roles.sort((a, b) => b.position - a.position); %>

            <% for (let role of roles) { %>
              <option value="<%- role.id %>" <% if (setting.roles.includes(role.id)) { %> selected<% } %>>@<%- role.name %></option>
            <% } %>

          </select>
        </p>

      </div>

      <div class="form-group col-lg-8">
        
        <label for="esoPatchNotes-textChannel"><b>Text Channel</b></label>
        <select class="form-control" id="esoPatchNotes-textChannel" name="channel" required>

          <% let channels = currentGuild.channels.sort((a, b) => a.position - b.position); %>
          <% let categories = channels.filter(c => c.type === "category" && !c.children.every(x => x.type === "voice")); %>

          <% let children = categories.map(cat => cat.children).reduce((acc, val) => { return acc.concat(val) }, []); %>
          <% let firstChannels = channels.filter(channel => children.every(child => channel.id !== child.id)); %>

          <% for (let channel of firstChannels.filter(c => c.type === "text")) { %>
            <option value="<%- channel.id %>" <% if (setting.channel === channel.id) { %> selected<% } %>><b>#</b> <%- channel.name %></option>
          <% } %>

          <% for (let category of categories) { %>
            <optgroup label="<%- category.name %>">
              <% for (let channel of category.children.filter(c => c.type === "text").sort((a, b) => a.position - b.position)) { %><option value="<%- channel.id %>" <% if (setting.channel === channel.id) { %> selected<% } %>><b>#</b> <%- channel.name %></option><% } %>
            </optgroup>
          <% } %>

        </select>

      </div>

    </div>

    <button type="submit" class="btn btn-lg">Submit</button>

  </form>
</div>